.titulo2{
    font-size: 40px;
    color:#00ff88;
}

section{
    max-width: 960px;
    margin: 20px auto;
    padding: 0 2%;
}

h2{
background-color: blue;
color: white;
padding: 8px 10 px;

}

p{
    color:black;
    margin-top: 10px;
    font-size: 16px;
}
th{
    border: 2px solid black;
    color: white;
}
a{
    text-decoration: none;
}

body{
    background: #2b134b;
    justify-content: center;
}

.textfield{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.center-pag{
    width: 100vw;
	height: 100vh;
    text-align: center;
	justify-content: center;
	align-items: center;
}

.titulo{
    color: #00ff88 ;
    font-size: 20px;
}