body{
    background: #2b134b;
}

.tudo{
    text-align: center;
    width: 100%;
	height: 100%;
justify-content: center;
color: #00ff88;
}
p{
    font-size: 25px;
    color: white;
}

h2{
 font-size: 30px;
}

h1{
    font-size: 40px;
}